In [1]:
import pandas as pd
import numpy as np

df= pd.read_csv('lb_cleaned_data.csv')
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,17,9,12,72000,0,1,0,26.60,998,58.16,2,1.75
1,10,10,17,41000,1,1,0,19.67,1582,126.20,2,12.50
2,9,2,13,46000,3,1,0,18.20,1199,88.70,2,4.50
3,17,2,14,87000,1,1,0,20.77,1248,88.76,4,6.00
4,1,3,15,40670,1,0,2,15.20,1968,140.80,2,17.74

In [2]:

from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

X=df.loc[:, df.columns != 'Price']
y=df[['Price']]

from sklearn import preprocessing
scaler_x = preprocessing.MinMaxScaler ( feature_range =( -1, 1))
x = np. array (X).reshape ((len( X) ,11))
x = scaler_x.fit_transform (x)

scaler_y = preprocessing. MinMaxScaler ( feature_range =( -1, 1))
y = np.array (y).reshape ((len( y), 1))
y = scaler_y.fit_transform (y)


from sklearn.preprocessing import OneHotEncoder
from sklearn.datasets import load_boston  
from sklearn.metrics import mean_squared_error, r2_score  

import warnings
warnings.filterwarnings('ignore')

enc = OneHotEncoder(handle_unknown='ignore')

onehotencoder = OneHotEncoder(categorical_features=[0])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features=[1])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features=[2])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features=[4])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features=[5])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features=[10])
X = onehotencoder.fit_transform(X).toarray()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [3]:
from sklearn.ensemble import  GradientBoostingRegressor

GBoost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, 
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)


GBoost.fit(X_train,y_train)

preds = GBoost.predict(X_test)

# Compute the rmse from sklearns metrics module imported earlier
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("validation_RMSE: %f" % (rmse))

pred = GBoost.predict(X_train)

# Compute the rmse from sklearns metrics module imported earlier
rmse = np.sqrt(mean_squared_error(y_train, pred))
print("train_RMSE: %f" % (rmse))

validation_RMSE: 0.035333
train_RMSE: 0.026364